@model IEnumerable<SalesTax.Models.Product>

@{
    ViewData["Title"] = "Shopping cart";
}

<p>

    <a asp-action="Create" >New Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imported)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesTaxAmount)
            </th>
            <th> 
                @Html.DisplayNameFor(model => model.FinalProductPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imported)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesTaxAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalProductPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@foreach (var item in Model)
{
    <p>
        @Html.DisplayFor(modelItem => item.Quantity)
        @(item.Imported ? "imported" : "")
        @Html.DisplayFor(modelItem => item.ProductName)
        @Html.DisplayFor(modelItem => item.FinalProductPrice)
    </p>

}
<h3>Sales Taxes:@Model.Sum(products => products.SalesTaxAmount)</h3>
<h3>Total:@Model.Sum(products => products.FinalProductPrice)</h3>